<% expect ['account', 'year'] %>
<% @query = query do %>
   select
       xtn_date as "Date",
       account as "Account",
       note as "Payee",
       amount as "Amount",
       cleared as "Cleared"
   from
       ledger
   where
       xtn_year = date_trunc('year', cast(:year as date))
       and account = :account
   order by
       xtn_date
<% end %>
<div class="page-header">
  <h1>Register</h1>
</div>
<%= table @query %>
